<?xml version="1.0" encoding="utf-8"?>
<launch>
  <group ns="tortugabot1">
  <param name="tf_prefix" value="tortugabot1" />
      
    <include file="$(find sut_tortugabot)/launch/suturo_base_and_joy.launch"/>
  
    <remap from="odom" to="tortugabot1/odom" />
  
    <node name="laser_driver" pkg="urg_node" type="urg_node" args="_ip_address:=192.168.200.10">
      <remap from="scan" to="scan_raw" />
      <!--remap from="camera_depth_frame" to="tortugabot1/laser" /-->      
	<param name="frame_id" value="tortugabot1/laser" />    
    </node>

    <node name="laser_filter" pkg="laser_range_filter" type="filter.py">
      <!--remap from="scan_filtered" to="scan" /> 
      <remap from="scan" to="scan_raw" /-->
    </node>

    <node name="laser_on_plate" pkg="tf" type="static_transform_publisher"
          args="-0.05 0 0.36 0 0 0 tortugabot1/base_footprint tortugabot1/laser 100">    
   </node>
          
  </group>
</launch>
