<?xml version="1.0" encoding="utf-8"?>
<launch>
  <group ns="tortugabot1">
  <param name="tf_prefix" value="tortugabot1" />
      
    <include file="$(find sut_tortugabot)/launch/t1_base_and_joy.launch"/>
  
    <remap from="odom" to="tortugabot1/odom" />
  
    <node name="laser_driver" pkg="urg_node" type="urg_node" args="_ip_address:=192.168.200.10">
      <remap from="scan" to="scan_raw" />
      <remap from="camera_depth_frame" to="tortugabot1/laser" />      
	<param name="frame_id" value="tortugabot1/laser" />    
      <remap from="/tf" to="/tortugabot1/tf" />
      <remap from="/tf_static" to="/tortgabot1/tf_static" />
    </node>

    <node name="laser_slower" pkg="topic_tools" type="throttle" args="messages /tortugabot1/scan 2 /tortugabot1/slow_scan"/>

    <node name="laser_filter" pkg="laser_range_filter" type="filter.py">
      <!--remap from="scan_filtered" to="scan" /> 
      <remap from="scan" to="scan_raw" /-->
    </node>

    <node name="laser_on_plate" pkg="tf" type="static_transform_publisher"
          args="-0.05 0 0.36 0 0 0 tortugabot1/base_footprint tortugabot1/laser 100">    
      <remap from="/tf" to="/tortugabot1/tf" />  
      <remap from="/tf_static" to="/tortgabot1/tf_static" />
</node>
          
   <!--node name="tortuga_top_publisher" pkg="tf" type="static_transform_publisher" 
   	  args="0 0 0.4 0 0 0 tortugabot1/base_footprint surface 60"/-->       
  
   <node name="local_to_global_tf" pkg="topic_tools" type="throttle" args="messages /tortugabot1/tf 10 /tf" />
   <node name="local_to_global_tf_static" pkg="topic_tools" type="throttle" args="messages /tortugabot1/tf_static 10 /tf_static" />

  </group>
</launch>
