<?xml version="1.0" encoding="utf-8"?>
<launch>
<group ns="tortugabot2">
<param name="tf_prefix" value="tortugabot2" />

  <include file="$(find sut_tortugabot)/launch/t2_base_and_joy.launch"/>
	
	<remap from="odom" to="tortugabot2/odom" />

  <node name="laser_driver" pkg="urg_node" type="urg_node" args="_ip_address:=192.168.200.11">
    <remap from="scan" to="scan_raw" />
    <!--remap from="camera_depth_frame" to="laser" /-->
	<param name="frame_id" value="tortugabot2/laser" />  
</node>

  <node name="laser_filter" pkg="laser_range_filter" type="filter.py">
    <!-- <remap from="scan_filtered" to="scan" /> -->
    <!-- <remap from="scan" to="scan_raw" /> -->
  </node>

  <node name="laser_on_plate" pkg="tf" type="static_transform_publisher"
        args="-0.05 0 0.36 0 0 0 tortugabot2/base_footprint tortugabot2/laser 100">
  </node>
 </group>
</launch>
